@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color:rgb(243 244 246 );
  
}
.navbar-bg {
  background-color: rgb(76, 51, 152);
}
.navlink-color {
  color: rgb(219, 219, 255);
}
.text-purple {
  color: #5c39c6;
}
.aksesuar-bg{
  background-color: #5d3ebc;
}
.navlink-bg {
  background-color: #5c39c6;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.navlink-hover:hover {
  background-color: #5d3ebc;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.slider-bg {
  background-image: linear-gradient(to right, #5d3ebc, rgba(93,62,188,0)),
    url("./Components/Images/smile-face.jpg");
    opacity: 1;
  height: 32rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.kampanya {
  background-image: url(https://cdn.getir.com/getirweb-images/common/illustration/doodle.png);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.modal-content {
  position: fixed;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: white;
  border-radius: 8px;
  z-index: 1000;
  outline: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 24px;
  width: 446px;
  top: 50%;
  overflow: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.overflow-hidden{
  overflow-y: hidden;
}
#checks {
  accent-color: #5d3ebc;

}
.sidebar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Scrollbar'ın arka plan rengi */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar'ın dolgu rengi */
  border-radius: 0.5em; /* Scrollbar'ın köşe yarıçapı */

}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar üzerine gelindiğinde dolgu rengi */
}



